# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Local .env files
.env*

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
